<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div><span class="form-submit"><a href="/logout">Logout</a></span></div>
    Congrats<%=` ${locals.username}` || ``%>, you have entered the secure dan. Only logged in users can see this screen.
</body>
</html>